<aside class="sidebar">
        <button id="sidebarToggle" class="btn btn-primary">
            <i class="fas fa-bars"></i>
        </button>
        <button id="darkModeToggle" class="btn btn-outline-secondary mb-3">
            <i class="fa-sharp fa-regular fa-sun"></i> <span>Light Mode</span>
        </button>

        <ul class="nav nav-tabs flex-column" id="simulationModeTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="single-server-tab" data-bs-toggle="tab" data-bs-target="#singleServer" type="button" role="tab" aria-controls="singleServer" aria-selected="true">
                    Single Server Simulation
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="parallel-server-tab" data-bs-toggle="tab" data-bs-target="#parallelServer" type="button" role="tab" aria-controls="parallelServer" aria-selected="false">
                    Parallel Server Simulation
                </button>
            </li>
        </ul>
    </aside>