<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queuing System Simulation</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome/css/sharp-regular.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="light-mode" data-bs-theme="light">
<div class="container-fluid mt-4">


    <aside class="sidebar">
        <button id="sidebarToggle" class="btn btn-primary">
            <i class="fas fa-bars"></i>
        </button>
        <button id="darkModeToggle" class="btn btn-outline-secondary mb-3">
            <i class="fa-sharp fa-regular fa-sun"></i> <span>Light Mode</span>
        </button>

        <ul class="nav nav-tabs flex-column" id="simulationModeTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="single-server-tab" data-bs-toggle="tab" data-bs-target="#singleServer" type="button" role="tab" aria-controls="singleServer" aria-selected="true">
                    Single Server Simulation
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="parallel-server-tab" data-bs-toggle="tab" data-bs-target="#parallelServer" type="button" role="tab" aria-controls="parallelServer" aria-selected="false">
                    Parallel Server Simulation
                </button>
            </li>
        </ul>
    </aside>

    <main class="container main-content">
        <div class="tab-content mt-3" id="simulationModeTabContent">
            <!-- FLASH MESSAGES -->
            <div id="flash-messages-container"></div>

            <!-- Single Server Simulation Tab -->
            <div class="tab-pane fade show active" id="singleServer" role="tabpanel" aria-labelledby="single-server-tab">
                <section class="row">
                    <!-- Controls Section -->
                    <div class="col-md-3">
                        <div class="card controls">
                            <div class="card-header bg-dark text-white"><i class="fas fa-cogs"></i> Controls</div>
                            <div class="card-body">
                                <form id="uploadFileForm" enctype="multipart/form-data">
                                    <input type="file" class="form-control mb-2" name="file" accept=".csv,.xlsx" required>
                                    <button type="button" id="uploadFileButton" class="btn btn-primary w-100 mb-2">
                                        <i class="fa-sharp fa-regular fa-upload"></i> Upload Data
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </form>
                                <form id="simulateForm">
                                    <div class="form-check mb-2">
                                        <input type="checkbox" class="form-check-input" id="probabilityCheckbox" name="probability_simulation">
                                        <label class="form-check-label" for="probabilityCheckbox">Enable Probability Simulation</label>
                                    </div>
                                    <button type="button" id="simulateButton" class="btn btn-success w-100 mb-2">
                                        <i class="fa-sharp fa-regular fa-play"></i> Simulate
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </form>
                                <button id="downloadDataButton" class="btn btn-info w-100 mb-2">
                                    <i class="fa-sharp fa-regular fa-download"></i> Save All
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                </button>
                                <button id="clearDataButton" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#clearDataModal">
                                    <i class="fa-sharp fa-regular fa-trash-list"></i> Clear All
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                        <!-- Current Services -->
                        <div class="card my-2 current-services d-none">
                            <div class="card-header bg-dark text-white"><i class="fas fa-list"></i> Current Services</div>
                            <div class="card-body service-list">
                                <ul class="list-group">
                                    <!-- added dynamically -->
                                </ul>
                            </div>
                        </div>

                        <!-- Add New Service Section -->
                        <div class="card my-2">
                            <div class="card-header bg-dark text-white"><i class="fas fa-plus"></i> Add New Service</div>
                            <div class="card-body">
                                <form id="addServiceForm">
                                    <div class="mb-2">
                                        <label for="service_code" class="form-label">Service Code</label>
                                        <input type="text" class="form-control" id="service_code" name="service_code" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="service_title" class="form-label">Service Title</label>
                                        <input type="text" class="form-control" id="service_title" name="service_title" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="service_duration" class="form-label">Duration (min)</label>
                                        <input type="number" min="1" class="form-control" id="service_duration" name="service_duration" required>
                                    </div>
                                    <button type="button" id="addServiceButton" class="btn btn-primary w-100">
                                        <i class="fa-sharp fa-regular fa-floppy-disk"></i> Add Service
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Data Display Section -->
                    <div class="col-md-9">
                        <!-- Customer Data Table -->
                        <div class="card mb-3">
                            <div class="card-header bg-dark text-white"><i class="fas fa-users"></i> Customer Data</div>
                            <div class="card-body table-container">
                                <table class="table table-striped table-bordered table-hover customer-data-table">
                                    <thead>
                                        <tr>
                                            <th>Customer ID</th>
                                            <th>Event Type</th>
                                            <th>Clock Time</th>
                                            <th>Service Code</th>
                                            <th>Service Title</th>
                                            <th>Service Duration</th>
                                            <th>End Time</th>
                                            <th class="arrival-prob d-none">Arrival Probability</th>
                                            <th class="completion-prob d-none">Completion Probability</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- added dynamically -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Chronological Order of Events -->
                        <div class="card mb-3">
                            <div class="card-header bg-dark text-white"><i class="fas fa-clock"></i> Chronological Order of Events</div>
                            <div class="card-body table-container">
                                <table class="table table-striped table-bordered table-hover event-data-table">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Event Type</th>
                                            <th>Customer ID</th>
                                            <th>Service</th>
                                            <th class="arrival-prob d-none">Arrival Probability</th>
                                            <th class="completion-prob d-none">Completion Probability</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Add event rows dynamically -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- System State Graph -->
                        <div class="card mb-1">
                            <div class="card-header bg-dark text-white">
                                <i class="fas fa-chart-line"></i> System State Graph
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <!-- Tab navigation -->
                                        <ul class="nav nav-tabs" id="plotTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="arrival-tab" data-bs-toggle="tab" data-bs-target="#arrival" type="button" role="tab" aria-controls="arrival" aria-selected="true">
                                                    Arrival Plot
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="system_state-tab" data-bs-toggle="tab" data-bs-target="#system_state" type="button" role="tab" aria-controls="system_state" aria-selected="false">
                                                    System State Plot
                                                </button>
                                            </li>
                                        </ul>

                                        <!-- Tab content -->
                                        <div class="tab-content mt-3" id="plotTabContent">
                                            <!-- First Tab -->
                                            <div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
                                                <div class="plot-container">
                                                    <img id="arrival_plot" src="/arrival_plot.png" alt="System State Graph">
                                                </div>
                                            </div>

                                            <!-- Second Tab -->
                                            <div class="tab-pane fade" id="system_state" role="tabpanel" aria-labelledby="system_state-tab">
                                                <div class="plot-container">
                                                    <img id="system_state_plot" src="/customers_system_plot.png" alt="System State Over Time">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Parallel Server Simulation Tab -->
            <div class="tab-pane fade" id="parallelServer" role="tabpanel" aria-labelledby="parallel-server-tab">
                <section class="row">
                    <div class="col-md-3">
                        <div class="card controls">
                            <div class="card-header bg-dark text-white"><i class="fas fa-cogs"></i> Controls</div>
                            <div class="card-body">
                                <form id="parallelUploadFileForm" enctype="multipart/form-data">
                                    <input type="file" class="form-control mb-2" name="file" accept=".csv,.xlsx" required>
                                    <button type="button" id="parallelUploadFileButton" class="btn btn-primary w-100 mb-2">
                                        <i class="fa-sharp fa-regular fa-upload"></i> Upload Data
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </form>
                                <form id="parallelSimulateForm">
                                    <button type="button" id="parallelSimulateButton" class="btn btn-success w-100 mb-2">
                                        <i class="fa-sharp fa-regular fa-play"></i> Simulate
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </form>
                                <button id="parallelDownloadDataButton" class="btn btn-info w-100 mb-2">
                                    <i class="fa-sharp fa-regular fa-download"></i> Save All
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                </button>
                                <button id="parallelClearDataButton" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#clearDataModal">
                                    <i class="fa-sharp fa-regular fa-trash-list"></i> Clear All
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                        <!-- Add New Arrival Data Section -->
                        <div class="card my-2">
                            <div class="card-header bg-dark text-white"><i class="fas fa-plus"></i> Add New Arrival Data</div>
                            <div class="card-body">
                                <form id="addArrivalForm">
                                    <div class="mb-2">
                                        <label for="time_between_arrivals" class="form-label">Time Between Arrivals</label>
                                        <input type="number" class="form-control" id="time_between_arrivals" name="time_between_arrivals" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="arrival_probability" class="form-label">Probability</label>
                                        <input type="number" min="0.00" max="1.00" step="0.01" class="form-control" id="arrival_probability" name="arrival_probability" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="accumulative_probability" class="form-label">Accumulative Probability</label>
                                        <input type="number" min="0.00" max="1.00" step="0.01" class="form-control" id="accumulative_probability" name="accumulative_probability" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="digit_assignment_from" class="form-label">Digit Assignment From</label>
                                        <input type="number" min="1" class="form-control" id="digit_assignment_from" name="digit_assignment_from" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="digit_assignment_to" class="form-label">Digit Assignment To</label>
                                        <input type="number" min="1" class="form-control" id="digit_assignment_to" name="digit_assignment_to" required>
                                    </div>
                                    <button type="button" id="addArrivalButton" class="btn btn-primary w-100">
                                        <i class="fa-sharp fa-regular fa-floppy-disk"></i> Add Arrival Data
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <!-- Add New Server Data Section -->
                        <div class="card my-2">
                            <div class="card-header bg-dark text-white"><i class="fas fa-plus"></i> Add Server</div>
                            <div class="card-body">
                                <form id="addServerForm">
                                    <div class="mb-2">
                                        <label for="server-number" class="form-label">Server No:</label>
                                        <select class="form-select" id="server-number" name="server_no">
                                            <option value="1">1 (Able)</option>
                                            <option value="2">2 (Baker)</option>
                                        </select>
                                    </div>

                                    <div class="mb-2">
                                        <label for="service_time" class="form-label">Service Time</label>
                                        <input type="number" class="form-control" id="service_time" name="service_time" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="server_probability" class="form-label">Probability</label>
                                        <input type="number" min="0.00" max="1.00" step="0.01" class="form-control" id="server_probability" name="server_probability" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="server_accumulative_probability" class="form-label">Accumulative Probability</label>
                                        <input type="number" min="0.00" max="1.00" step="0.01" class="form-control" id="server_accumulative_probability" name="server_accumulative_probability" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="server_digit_assignment_from" class="form-label">Digit Assignment From</label>
                                        <input type="number" min="1" class="form-control" id="server_digit_assignment_from" name="server_digit_assignment_from" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="server_digit_assignment_to" class="form-label">Digit Assignment To</label>
                                        <input type="number" min="1" class="form-control" id="server_digit_assignment_to" name="server_digit_assignment_to" required>
                                    </div>
                                    <button type="button" id="addServerButton" class="btn btn-primary w-100">
                                        <i class="fa-sharp fa-regular fa-floppy-disk"></i> Add Server
                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <!-- Arrival Data -->
                        <div class="card mb-3 arrival-data d-none">
                            <div class="card-header bg-dark text-white"><i class="fa-sharp fa-regular fa-plane-arrival"></i> Arrivals Data</div>
                            <div class="card-body table-container">
                                <table class="table table-striped table-bordered table-hover arrival-data-table">
                                    <thead>
                                        <tr>
                                            <th>Time Between Arrival</th>
                                            <th>Probability</th>
                                            <th>Accumulative Probability</th>
                                            <th>Digit Assignment From</th>
                                            <th>Digit Assignment To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- added dynamically -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Server Data -->
                        <div class="card mb-3 server-data d-none">
                            <div class="card-header bg-dark text-white"><i class="fas fa-list"></i> Servers Data</div>
                            <div class="card-body table-container">
                                <table class="table table-striped table-bordered table-hover server-data-table">
                                    <thead>
                                        <tr>
                                            <th>Server No.</th>
                                            <th>Probability</th>
                                            <th>Accumulative Probability</th>
                                            <th>Digit Assignment From</th>
                                            <th>Digit Assignment To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- added dynamically -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Parallel Server Data Display -->
                        <div class="card mb-3">
                            <div class="card-header bg-dark text-white"><i class="fa-sharp fa-solid fa-server"></i> Simulation Servers</div>
                            <div class="card-body table-container">
                                <table class="table table-striped table-bordered table-hover servers-data-table">
                                    <thead>
                                        <tr>
                                            <th>Customer ID</th>
                                            <th>Server</th>
                                            <th>Arrival Time</th>
                                            <th>Wait Time</th>
                                            <th>Service Start</th>
                                            <th>Service Duration</th>
                                            <th>Service End</th>
                                            <th>System Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- added dynamically -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- System State Graph -->
                        <div class="card mb-3">
                            <div class="card-header bg-dark text-white">
                                <i class="fas fa-chart-line"></i> System State Graph
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <!-- Tab navigation -->
                                        <ul class="nav nav-tabs" id="plotTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="servers-tab" data-bs-toggle="tab" data-bs-target="#servers" type="button" role="tab" aria-controls="servers" aria-selected="true">
                                                    Servers Plot
                                                </button>
                                            </li>
                                        </ul>

                                        <!-- Tab content -->
                                        <div class="tab-content mt-3" id="plotTabContent">
                                            <!-- First Tab -->
                                            <div class="tab-pane fade show active" id="servers" role="tabpanel" aria-labelledby="servers-tab">
                                                <div class="plot-container">
                                                    <img id="servers_plot" src="/servers_plot.png" alt="System State Graph">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Simulation Summary -->
                        <div class="card mb-1">
                            <div class="card-header bg-dark text-white">
                                <i class="fas fa-chart-pie"></i> Simulation Summary
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><strong>Total Customers Served:</strong> <span id="total-customers">0</span></li>
                                    <li><strong>Average Wait Time:</strong> <span id="average-wait-time">0 min</span></li>
                                    <li><strong>Able Utilization:</strong> <span id="able-utilization">0%</span></li>
                                    <li><strong>Baker Utilization:</strong> <span id="baker-utilization">0%</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>

<!-- Clear Data Confirmation Modal -->
<div class="modal fade" id="clearDataModal" tabindex="-1" aria-labelledby="clearDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearDataModalLabel">Confirm Clear Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to clear all data? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmClearDataButton">Clear Data</button>
            </div>
        </div>
    </div>
</div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/font-awesome/js/sharp-regular.min.js') }}"></script>
    {#<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/templates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/singleServer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parallelServer.js') }}"></script>


</body>
</html>
